@import "../../variables/sass/variables.scss";

.video-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;

  &__video {
    position: fixed; // Make it full screen (fixed)
    right: 0;
    bottom: 0;
    z-index: -1; // Put on background

    min-width: 100%; // Expand video
    min-height: 100%;
    width: auto; // Keep aspect ratio
    height: auto;

    top: 50%; // Vertical center offset
    left: 50%; // Horizontal center offset

    -webkit-transform: translation(-50%, -50%);
    -moz-transform: translation(-50%, -50%);
    -ms-transform: translation(-50%, -50%);
    transform: translation(-50%, -50%); // Cover effect: compensate the offset
  }

  &__children {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }

  .video-react-control-bar {
    display: none;
  }

  &__back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $vol7er-main-t2;
  }

  @media screen and (max-width: 650px) {
    height: 50vh;

    &__back {
      height: 50vh;
    }
  }

  @media screen and (min-width: 651px) and (max-width: 991px) {
    height: 75vh;

    &__back {
      height: 75vh;
    }
  }
}