.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.card {
  position: relative;
  width: 100%;
  background-color: #292929;
  transition: all 0.3s ease-in-out;
  min-height: 400px;

  &:hover {
    box-shadow: 0 10px 20px 10px rgba(black, 0.2);
  }
}

.cardLink {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1em;
  text-decoration: none;

  .image {
    transform: translateY(-40px);
  }
}