@import "../../variables/sass/variables.scss";
@import "../../variables/sass/mixins.scss";

.v7Header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: height 0.3s, background 0.3s;
  z-index: 100;
  padding: 3px;

  .menuItemContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .menuItemText {
      font-size: 14px;
      padding-left: 10px;
      @include menuItemText();
    }
  }
}

.v7Header.isScroll {
  background-color: rgba($black, 0.7);
  box-shadow: 0px 0px 8px rgba(255, 255, 255, .6);
}