@import "../../variables/sass/variables.scss";

.v7Header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: height 0.3s, background 0.3s;
  height: 50px;
  z-index: 100;
}

.v7Header.isScroll {
  background-color: rgba($black, 0.7);
  box-shadow: 0px 0px 8px rgba(255, 255, 255, .6);

  .maxHeight {
    //height: 70px;
  }
}