@import "../../variables/sass/variables.scss";
@import "../../variables/sass/mixins.scss";

.optionContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .menuItemText {
    @include menuItemText();
  }
}