@import "../../variables/sass/variables.scss";

.vol7er-sign-in {
  &__form-container {
    padding: 10px;

    &__recover {
      padding: 10px;
    }
  }

  &__loader-container {
    padding-top: 50px;
  }
}