@import "../../variables/sass/variables.scss";

.deviceId {
}

.connected {
  padding: 10px;
  border: solid 1px $device-connected;
  border-radius: 8px;
}

.notConnected {
  padding: 10px;
  border: solid 1px $device-not-connected;
  border-radius: 8px;
}